# Maxfiy kalitlar
.env

# Virtual muhit va kesh
venv/
__pycache__/
*.pyc
.ipynb_checkpoints/

# Ma'lumotlar (katta hajmli, skreyperlar orqali qayta yaratiladi)
/data/

# Modellar (08-notebook qayta yaratadi)
/models/
